<div class="navbar">
  <div class="logo">
    <a href="#"><img src="img/logo.png" alt="Logo E-Goverment" /></a>
  </div>
  <div class="menu">
    <ul>
      <li>Home</li>
      <li>About</li>
      <li>Service</li>
      <li>Mission</li>
      <li>Contact</li>
    </ul>
  </div>
  <div class="login-btn">Login</div>
</div>
