<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="css/inputan.css" />
    <title>Tambah Penduduk</title>
  </head>
  <body>
    <div class="container-addPenduduk">
      <div class="card-container">
        <div class="left">
          <div class="left-contain">
            <h2>Tentang Kami</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit.
              Corporis, cum. Alias nihil dolor recusandae facere perspiciatis
              repudiandae enim, reiciendis nobis doloremque ad iste similique
              odio eveniet sint fuga sit ratione?
            </p>
          </div>
        </div>
        <div class="right">
          <div class="right-contain">
            <h2>Inputan Kekayaan</h2>
            <form action="/dataTesting" method="post">
              <input
                type="number"
                class="penghasilan"
                name="penghasilan"
                id="penghasilan"
                placeholder="Penghasilan"
                aria-describedby="penghasilan"
              />
              <input
                type="number"
                name="aset"
                id="aset"
                placeholder="Aset"
                class="aset"
                aria-describedby="aset"
              />
              <input
                type="number"
                name="pengeluaran"
                class="pengeluaran"
                id="pengeluaran"
                placeholder="Pengeluaran"
                aria-describedby="pengeluaran"
              />
              <input
                type="text"
                class="status_masyarakat"
                name="statusMasyarakat"
                id="status_masyarakat"
                placeholder="Status Masyarakat"
                aria-describedby="status_masyarakat"
              />
              <button type="submit" class="btn btn-primary">Tambah</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
