<div class="container">
  <div class="banner">
    <div class="app-text">
      <h3>Aplikasi Penghitung Aset</h3>
      <h1>Metode K-NN</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Id dicta
        molestiae, voluptatem ea aspernatur in ad, animi nihil exercitationem
        ipsam et quasi minima quibusdam doloribus explicabo? Commodi ex maiores
        facere!
      </p>
      <div class="btn-group">
        <div class="signup-btn">Daftar Sekarang</div>
        <div class="play-btn">
          <div class="play-btn-inner">
            <i class="fa fa-play-circle" aria-hidden="true"></i>
          </div>
          <span>Bagaiman Kinerja</span>
        </div>
      </div>
    </div>
    <div class="app-picture">
      <img src="img/10.jpg" alt="Icon" />
    </div>
  </div>
  <div class="about-services">
    <ul>
      <li>
        <img src="img/1.png" alt="Gambar Pertama" />
        <h1>Penelitian</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam
          nostrum nihil libero ipsum reiciendis alias fugiat iste nemo, amet ab
          ea, enim, magni necessitatibus excepturi praesentium error ad
          cupiditate illo.
        </p>
      </li>
      <li>
        <img src="img/2.png" alt="Gambar Pertama" />
        <h1>Penelitian</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam
          nostrum nihil libero ipsum reiciendis alias fugiat iste nemo, amet ab
          ea, enim, magni necessitatibus excepturi praesentium error ad
          cupiditate illo.
        </p>
      </li>
      <li>
        <img src="img/3.png" alt="Gambar Pertama" />
        <h1>Penelitian</h1>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Numquam
          nostrum nihil libero ipsum reiciendis alias fugiat iste nemo, amet ab
          ea, enim, magni necessitatibus excepturi praesentium error ad
          cupiditate illo.
        </p>
      </li>
    </ul>
  </div>

  <div class="social-icons">
    <ul>
      <li>
        <a href="#"><i class="fa fa-facebook"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-twitter"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-linkedin"></i></a>
      </li>
      <li>
        <a href="#"><i class="fa fa-instagram"></i></a>
      </li>
    </ul>
  </div>
</div>
